doctype html
html
  head
    title='Authorization module'
    link(rel="stylesheet", href="auth.css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
  body
    div#root
    script(src="auth_commons.js")
    script(src='auth.js')