include ../../components/ExampleModule/ExampleModule.pug

//- Require data:

//-

//- Example data:
-
  let ExampleModuleData = {
    text: 'ExampleModule text from server',
    innerModule:
    {
      text: 'ExampleInnerModule text from server'
    }
  }

  let exampleClearModuleData = {
    text: 'ExampleClearModule text from server',
    innerModule: {
      text: 'ExampleClearInnerModule text from server'
    }
  }
//------------------------

doctype html
html
  head
    title= title
    link(rel="stylesheet", href="ExamplePage.css")
  body(class='example-page', data-script-src='/ExamplePage.js')
    h1 ExamplePage
    +ExampleModule(ExampleModuleData, 1)
    +ExampleModule(ExampleModuleData, 2)
    script(src='ExamplePage.js')