include ../widgets/w_mod1/w_mod1.pug
include ../widgets/w_mod2/w_mod2.pug

mixin widget_panel(title, widgets)
  div(class='widget_panel')
    h4 #{title}
    div.widget_panel__container
      each widget in widgets
        +#{widget.view}(widget.args)