//- {
//-   widget_panel_modules: ['module1', 'module2']
//- }

- widget_panel_modules.forEach(function (moduleName) {

- if (moduleName === 'module1') {
include ./blog/module1/module1.pug
- }

- if (moduleName === 'module2') {
include ./blog/module2/module2.pug
- }

- if (moduleName === 'module3') {
include ./blog/module3/module3.pug
- }

- if (moduleName === 'module4') {
include ./blog/module4/module4.pug
- }

- })