include ../expModule/expModule.pug
include ../templModule/templModule.pug

//- Require data:
-
  let data = {
    moduleText: 'red',
    firstWidget: [
      {
        view: 'w_mod1',
        args: {
          text: 'ad aw adfdfsxd f sd'
        }
      },
      {
        view: 'w_mod2',
        args: {
          text: 'jghj fdfg re4tgewe re df'
        }
      }
    ],
    secondWidget: [
      {
        view: 'w_mod2',
        args: {
          text: 'nmbzzx s zssg r gfg cv'
        }
      },
      {
        view: 'w_mod1',
        args: {
          text: 'opiou j ghyu i uioui jklj'
        }
      }
    ]
  }

doctype html
html
  head
    title= title
    link(rel="stylesheet", href="staticPage.css")
  body(class='staticPage', data-script-src='/staticPage.js')
    h1 Static page
    +expModule(data)
    +templModule({text: 'qwe asd zxc'})
    script(src='staticPage.js')