mixin ExampleInnerPrerenderModule(data)
  div.example-inner-prerender-module
    div.component-data #{JSON.stringify(data)}
    h2 ExampleInnerPrerenderModule
    p #{data.text}
    p end of ExampleInnerPrerenderModule